{{#if main}}
    <div class="columns">
        <table class="courses-table">
            <thead>
                <tr>
                    <th>Finished Courses</th>
                    <th>Current Courses</th>
                    <th>Future Courses</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
{{/if}}

{{#if pill}}
    <tr>
        <td class="courses-section">
            {{#each finishedcourses}}
                <div class="column">
                    <div class="column-text">{{this.courseId}} — {{this.name}} | {{this.credits}} credits</div>
                </div>
            {{/each}}
        </td>
        <td class="courses-section">
            {{#each courses}}
                <div class="column">
                    <div class="column-text">{{this.courseId}} — {{this.name}} | {{this.credits}} credits</div>
                </div>
            {{/each}}
        </td>
        <td class="courses-section">
            {{#each futurecourses}}
                <div class="column">
                    <div class="column-text">{{this.courseId}} — {{this.name}} | {{this.credits}} credits</div>
                </div>
            {{/each}}
        </td>
    </tr>
{{/if}}