{{#if main}}
  <div id="wrapper">
    <div class="column">
      <div class="course-header">Finished Courses</div>
      {{#each finishedcourses}}
        <div class="course">
          <div class="course-details">{{this.courseId}}—{{this.name}}</div>
          <div class="credits">{{this.credits}}</div>
        </div>
      {{/each}}
    </div>
    <div class="column">
      <div class="course-header">Current Courses</div>
      {{#each courses}}
        <div class="course">
          <div class="course-details">{{this.courseId}}—{{this.name}}</div>
          <div class="credits">{{this.credits}}</div>
        </div>
      {{/each}}
    </div>
    <div class="column">
      <div class="course-header">Future Courses</div>
      {{#each futurecourses}}
        <div class="course">
          <div class="course-details">{{this.courseId}}—{{this.name}}</div>
          <div class="credits">{{this.credits}}</div>
        </div>
      {{/each}}
    </div>
  </div>
{{/if}}