{{#if main}}
    <div class="pills">

    </div>
{{/if}}

{{#if pill}}
    <div class="pill">
        <div class="pill-title">Major</div>
        <div class="pill-text">{{data.major}}</div>
    </div>
    <div class="pill">
        <div class="pill-title">Year</div>
        <div class="pill-text">{{data.year}}</div>
    </div>
    <div class="pill">
        <div class="pill-title">Term</div>
        <div class="pill-text">{{data.term}}</div>
    </div>
    <div class="pill">
        <div class="pill-title">GPA</div>
        <div class="pill-text">{{data.gpa}}</div>
    </div>
    <div class="pill">
        <div class="pill-title">Advisor</div>
        <div class="pill-text">{{data.advisor}}</div>
    </div>
    <div class="pill">
        <div class="pill-title">Status</div>
        <div class="pill-text">{{data.enrollment}}</div>
    </div>
{{/if}}

{{! display list of courses with their metadata: CS class, building, room number, times, course name, section, professor }}