{{#if main}}
    <div class="week">
        <div class="time">
            <div class="time-title">&nbsp;</div>
            <div class="time-events">
                <div class="time-event">08:00 AM</div>
                <div class="time-event">09:00 AM</div>
                <div class="time-event">10:00 AM</div>
                <div class="time-event">11:00 AM</div>
                <div class="time-event">12:00 PM</div>
                <div class="time-event">01:00 PM</div>
                <div class="time-event">02:00 PM</div>
                <div class="time-event">03:00 PM</div>
                <div class="time-event">04:00 PM</div>
                <div class="time-event">05:00 PM</div>
                <div class="time-event">06:00 PM</div>
                <div class="time-event">07:00 PM</div>
                <div class="time-event">08:00 PM</div>
            </div>
        </div>
        <div class="day mon">
            <div class="day-title">Mon</div>
            <div class="day-events"></div>
        </div>
        <div class="day tue">
            <div class="day-title">Tue</div>
            <div class="day-events"></div>
        </div>
        <div class="day wed">
            <div class="day-title">Wed</div>
            <div class="day-events"></div>
        </div>
        <div class="day thu">
            <div class="day-title">Thu</div>
            <div class="day-events"></div>
        </div>
        <div class="day fri">
            <div class="day-title">Fri</div>
            <div class="day-events"></div>
        </div>
    </div>
{{/if}}

{{#if popover}}
    <div>ID: {{data.id}}</div>
    <div>Course Name: {{data.name}}</div>
    <div>Location: {{data.location}}</div>
    <div>Room: {{data.room}}</div>
    <div>Professor: {{data.professor}}</div>
    <div>Credits: {{data.credits}}</div>
{{/if}}